/* 
------------
GENERIC.
PAGE
------------ 
*/

html,body{
	background: $base-background-clr;
	color: $base-text-clr;
	font-size: $base-font-size;
	@include remCalc(font-size, $base-font-size);
	font-family: $sans-serif;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

.wrapper {
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  clear: both;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  @include respond-to(960px) {
    padding: 0 32px;
  }
}