/* 
------------
OBJECTS.
LISTS
------------ 
*/

/*
Remove all styling from lists by adding the .no-points class below
*/

.list--unstyled{
	list-style-type: none;
	padding-left: 0;
}

/*
There are various list styles and the classes are below to enable you to utilise them.
*/

.list--numbered{
	list-style-type: decimal;
	li{
		@include remCalc(margin-bottom, $spacer);
		line-height: 1.4;
	}
}

.list--circled{
	list-style-type: circle;
	li{
		@include remCalc(margin-bottom, $spacer);
		line-height: 1.4;
	}
}

.list--squared{
	list-style-type: square;
	li{
		@include remCalc(margin-bottom, $spacer);
		line-height: 1.4;
	}
}

.list--lower-abc{
	list-style-type: lower-latin;
	li{
		@include remCalc(margin-bottom, $spacer);
		line-height: 1.4;
	}
}

.list--upper-abc{
	list-style-type: upper-latin;
	li{
		@include remCalc(margin-bottom, $spacer);
		line-height: 1.4;
	}
}

.list--circle {
	list-style: none;
	padding-left: 24px;
	li {
		position: relative;
		@include remCalc(margin-bottom, $spacer);
		line-height: $base-line-height;
	}
	li:before {
		position: absolute;
		left: -24px;
		top: 8px;
		width: 8px;
		height: 8px;
		background-color: $main-orange;
		border-radius: 16px;
		content: '';
	}
}

/*
A list doesn't always appear vetically so there are a couple of hortizontal list styles 
below that can be added by assiging a class.
*/

// Inline Lists

.list--inline{
	@extend .list--unstyled;
	float: left;
	width: 100%;
	li{
		display: inline-block;
	}
}

.list--pills{
	@extend .list--unstyled;
	@extend .list--inline;
	margin-bottom: 0;
	li, li a{
		@include remCalc(margin-right, 3px);
		@include remCalc(margin-bottom, 8px);
		@include remCalc(padding, 8px);
		background: $light-orange;
		border-radius: 4px;
		display: inline-block;
		text-decoration: none;
		line-height: 1;
	}
}

.list--stacked{
	@extend .list--unstyled;
	li{
		display: block;
		a{
			display: block;
			text-decoration: none;
		}
	}
	.seperator{
		@include remCalc(margin-top, $spacer--small);
		@include remCalc(margin-bottom, $spacer--small);
		border-bottom: 1px solid $border-clr;
	}
	.title{
		@include remCalc(padding-top, $spacer--small);
		@include remCalc(padding-bottom, $spacer--small);
		@include remCalc(font-size, $epsilon);
		text-transform: uppercase;
		letter-spacing: 0.15;
		font-weight: $weight-heavy;
	}
}

