/* 
------------
COMPONENTS.
BUTTONS
------------ 
*/


/**
*
* The Button (.button) Class
* -----------------------
*
* All buttons must include the .button class as this ensures that the basic 
* styling is applied.
*
*
*/

.button{
	@extend %btn;
	float: left;
	@include remCalc(font-size, 16px);
	&:hover{
		background: darken($main-orange, 5%);
		color: #ffffff;
	}
	&:active{
		background: darken($main-orange, 10%);
	}
	i{
		font-size: .9rem;
	}
}


/**
*
* Button Display Styles
* ---------------------
*
* The classes below are used to change the way that the button is displayed 
* physically e.g. the example below sets the button as disabled, preventing a 
* user from clicking it.
*
* [!] Usage Example
* -----------------
*
* <a class="button button--disabled">Button</a>
*
*
*/

.button--small{
	@include remCalc(font-size, 12px);
	@include remCalc(padding, $spacer--small);
}

.button--large{
	@include remCalc(font-size, 24px);
	@include remCalc(padding, $spacer--dbl);
}
.button--x-large{
	@include remCalc(font-size, 36px);	
	@include remCalc(padding, $spacer--large);
}

.button--block{
	width: 100%;
}

.button--smooth{
	@extend %smooth;
}

.button--rounded{
	border-radius: 50px;
}

.button--bordered{
	background: none;
	border: 3px solid #ddd;
}

.button--disabled{
	color: #ddd;
	background: #f6f6f6;
	&:hover{
		cursor: not-allowed;
		background: #f6f6f6;
		color: #ddd;
	}
}


/**
*
* Button Groups
* -------------
*
* Button groups are a great way to provide a user with a selection of buttons 
* while keeping them within a cluster. This is particularly handy for 
* pagination.
*
* [!] Usage Example
* -----------------
*
* <div class="button-group">
* 	<a class="button">Button</a>
* 	<a class="button">Button</a>
* 	<a class="button">Button</a>
* 	<a class="button">Button</a>
* </div>
*
*
*/

.button-group{
	float: left;
	display: inline-block;
	@include remCalc(margin-bottom, $spacer);
	@include remCalc(margin-right, $spacer);
}


/**
*
* Button Group Styles
* -------------------
*
* The button group styles follow on the from the button styles. This enables
* you to assign the same styling achieved on the button styling without having
* to assign the class to each individual .button within the group. The example
* below would provide you with the smooth corners on the .button-group apposed to 
* each individual .button element.
*
* [!] Usage Example
* -----------------
*
* <div class="button-group button-group--smooth">
* 	<a class="button">Button</a>
* 	<a class="button">Button</a>
* 	<a class="button">Button</a>
* 	<a class="button">Button</a>
* </div>
*
*
*/

.button-group .button{
	margin: 0;
	&:not(:first-child){
		border-left: 0;
	}
}

.button-group--smooth{
	.button:first-child{
		border-radius: 5px 0px 0px 5px;
	}
	.button:last-child{
		border-radius: 0px 5px 5px 0px;
	}
}

.button-group--rounded{
	.button:first-child{
		border-radius: 50px 0px 0px 50px;
	}
	.button:last-child{
		border-radius: 0px 50px 50px 0px;
	}
}

.button-group--bordered .button{
	@extend .button--bordered;
	&:hover{
		background: #ddd;
	}
}


/**
*
* Button Centered
* ---------------
* Centering a button can be quite useful and to help cater for that Frontly 
* has the class below:
*
* [!] Usage Example
* -----------------
* <div class="button--centered">
*     <a class="button">Button Centered</a>
* </div>
*
* - or -
*
* <div class="button--centered">
*     <div class="button-group">
*         <a class="button">Button Centered</a>
*         <a class="button">Button Centered</a>
*         <a class="button">Button Centered</a>
*     </div>
* </div>
*
*/

.button--centered{
	text-align: center;
	display: block;
	.button-group{
		float: none;
		margin: 0 auto;
		.button{
			float: left;
		}
	}
	.button{
		float: none;
		margin-right: 0;
	}
}


/**
*
* Buttons Colors
* --------------
*
* The button colors are a set of deafults and can be customised were required 
* by creating a new class e.g. .button--custom-class{ background: purple }. 
* The buttons utilise a number of color variables set in the 
* _settings.colors.scss file and it is recommended that if you wish to create 
* a custom .button that you create a variable in that file to call where required.
*
* [!] Usage Example
* -----------------
*
* <a class="button button--success">Button</a>
*
*
*/

.button--success{
	background: $success-clr;
	border-color: darken($success-clr, 10%);
	color: #fff;
	&:hover{
		background: darken($success-clr, 10%);
		color: #fff;
	}
}

.button--success.button--bordered, .button--bordered.button--success{
	border-color: $success-clr;
	color: $success-clr;
	background: none;
	&:hover{
		background: $success-clr;
		color: #fff;
	}
}

.button--error{
	background: $error-clr;
	border-color: darken($error-clr, 10%);
	color: #fff;
	&:hover{
		background: darken($error-clr, 10%);
		color: #fff;
	}
}

.button--error.button--bordered, .button--bordered.button--error{
	border-color: $error-clr;
	color: $error-clr;
	background: none;
	&:hover{
		background: $error-clr;
		color: #fff;
	}
}

.button--attention{
	background: $attention-clr;
	border-color: darken($attention-clr, 10%);
	color: #fff;
	&:hover{
		background: darken($attention-clr, 10%);
		color: #fff;
	}
}

.button--attention.button--bordered, .button--bordered.button--attention{
	border-color: $attention-clr;
	color: $attention-clr;
	background: none;
	&:hover{
		background: $attention-clr;
		color: #fff;
	}
}

.button--neutral{
	background: $neutral-clr;
	border-color: darken($neutral-clr, 10%);
	color: #fff;
	&:hover{
		background: darken($neutral-clr, 10%);
		color: #fff;
	}
}

.button--neutral.button--bordered, .button--bordered.button--neutral{
	border-color: $neutral-clr;
	color: $neutral-clr;
	background: none;
	&:hover{
		background: $neutral-clr;
		color: #fff;
	}
}