/* 
------------
COMPONENTS.
MAIN FOOTER
------------ 
*/

.main-footer{
	background: $brand-red;
	color: #fff;
	@include remCalc(padding-top, 50px);
	@include remCalc(padding-bottom, 50px);
	@include respond-to(small-screen){
		@include remCalc(padding-top, 50px);
		@include remCalc(padding-bottom, 50px);
	}
	a{
		color: #fff;
	}
}