/* 
------------
COMPONENTS.
EXPERIENCE
------------ 
*/

.experience h3 {
	position: relative;
	margin-bottom: 64px;
	&:after {
    position: absolute;
    bottom: -24px;
    left: 0;
    height: 8px;
    width: 48px;
    background-color: $light-orange;
    content: '';
  }
}

.experience__list{
	float: left;
	h4 {
		color: $base-text-clr;
	}
}

	.experience__list--item{
		position: relative;
		ul {
			@include remCalc(margin-bottom, 48px);
			li {
				@include remCalc(margin-bottom, $spacer--dbl);
			}
		}
		&:last-child{
			ul {
				margin-bottom: 0;
			}
		}
	}

.job{
	@include remCalc(margin-bottom, $spacer--dbl);
}

	.job__role{
		@include remCalc(font-size, 16px);
		color: #9F9F9F;
		@include remCalc(margin-bottom, 24px);
	}